@import 'tailwindcss';

/* Definizione dei colori per tema chiaro e scuro */
@theme {
	--color-primary: var(--text-primary);
	--color-secondary: var(--text-secondary);
	--color-background: var(--background-primary);
	--color-background-secondary: var(--background-secondary);
	--color-background-tertiary: var(--background-hover);
	--color-border-color: var(--border);
}

:root {
	--text-primary: #0f0f0f;
	--text-secondary: #606060;
	--background-primary: #ffffff;
	--background-secondary: #ececec;
	--background-hover: #d6d6d6;
	--border: #e0e0e0;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-primary: #f1f1f1;
		--text-secondary: #b3b3b3;
		--background-primary: #0f0f0f;
		--background-secondary: #272727;
		--background-hover: #3f3f3f;
		--border: #3d3d3d;
	}
}

/* Stili per i link nei commenti */
.comment-content a {
	color: #3ea6ff;
	text-decoration: none;
	font-weight: 500;
}

.comment-content a:hover {
	text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
	.comment-content a {
		color: #3ea6ff;
	}
}
